.desktop-only {
    @media @desktop-xl {
    background: url(../img/fun-bus.jpg);
    opacity: .25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position-y: -18rem;
    z-index: -1;
    }
}
header {
    @media @desktop-xl {
        img {
            display: none;
        }
        height: 240px;
        h2 {
            font-size: 10rem;
            margin-top: -10rem;
        }
    }
    @media @desktop {
        &.container {
        margin-top: 12rem;
        }
    }
    padding-bottom:10px;
    border-bottom: 2px dashed @navigation-border;
    .text-content {
        @media @desktop-xl {
            text-align: center;
            margin-top: 32rem;
        }
        padding-top: 20px;
    }
}